<%for (product of productDetails) {%>


    <div class="wrapper">
        <!-- <section> -->
            <img class="product-display" src="<%=product.image%>" alt="">
        <!-- </section> -->
        <div>
            <h2>
                <%=product.item_name%>
            </h2>
            <h4>
                <%=product.price%>
            </h4>
            <p>
                <%=product.description%>
            </p>
            <p>
                <%=product.category%>
            </p>
            <a href="<%=product.deal_source%>">Take me there!</a>
        </div>
    </div>
    <%}%>